*{
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

#wrapper{
  width: 100vw;
  height: 100vh;
  background-color: #000;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

img{
  height: 100%;
}
